/* imports */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    list-style: none;
    text-decoration: none;
    background-color: #020640;
    font-family: "Space Grotesk", "Alexandria", sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

/* General Style */

h1 {
    text-align: center;
    padding: 15px;
}

.apod-title {
    color: #ffcc00;
    text-align: center;
    padding-bottom: 10px;
}

.apod-date {
    text-align: center;
}

.apod-img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

.apod-explain-label {
    padding-top: 15px;
    text-align: center;
}

.apod-explain {
    padding: 5px 20px 20px 20px;
    text-align: center;
}